<resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <!--
        Phone-side settings (Garmin Connect Mobile / Garmin Express).
        These edit the *display* properties (raceDistanceDisplay in
        whichever unit distanceUnits selects, finishTimeMin in minutes) -
        AppBase.onSettingsChanged() converts them into the canonical
        raceDistanceM/finishTimeSec properties the watch app actually uses.
    -->
    <settings>
        <setting propertyKey="@Properties.distanceUnits" title="@Strings.unitsTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.unitsKm</listEntry>
                <listEntry value="1">@Strings.unitsMiles</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.raceDistanceDisplay" title="@Strings.distanceTitle">
            <settingConfig type="numeric" />
        </setting>

        <setting propertyKey="@Properties.finishTimeMin" title="@Strings.finishTimeTitle">
            <settingConfig type="numeric" />
        </setting>

        <setting propertyKey="@Properties.showTargetPace" title="@Strings.showTargetTitle">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.showDelta" title="@Strings.showDeltaTitle">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.showProjectedFinish" title="@Strings.showFinishTitle">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.showAveragePace" title="@Strings.showAverageTitle">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.showSplitPace" title="@Strings.showSplitTitle">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.showFinishDelta" title="@Strings.showFinishDeltaTitle">
            <settingConfig type="boolean" />
        </setting>

        <setting propertyKey="@Properties.paceSmoothingM" title="@Strings.paceSmoothingTitle">
            <settingConfig type="list">
                <listEntry value="50">@Strings.smoothing50</listEntry>
                <listEntry value="100">@Strings.smoothing100</listEntry>
                <listEntry value="200">@Strings.smoothing200</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.backgroundMode" title="@Strings.backgroundModeTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.backgroundBlack</listEntry>
                <listEntry value="1">@Strings.backgroundWhite</listEntry>
            </settingConfig>
        </setting>
    </settings>

</resources>
